body {
	font-family: 'Source Sans Pro', sans-serif;
}

.container {
	margin-top: 30px;
}

.darkmode {
	color: #fff;
	background-color: #212121;
}

.lightmode {
	background-color: #fff;
	color: #212121;
}


.dark-mode-toggle {
	width: 32px;
	height: 32px;
	border: none;
	background: transparent;
	border-radius: 10px;
	border: 1px solid white;
}

nav {
	background-color: #212121;
	box-shadow: 1px 1px 10px black;
	padding: 20px;
}

.landing {
	height: 100vh;
}

.landing-heading {
	text-align: center;
	font-weight: 700;
}

.bottom {
	text-align: center;
}

.heading {
	font-weight: 700;
}

.blogs {
	background-color: #212121;
	color: white;
	padding: 30px;
	width: 25rem;
	margin: 0px;
	box-shadow: 0px 1px 20px black;
	border-radius: 25px;
}

.card-text{
	overflow: hidden;
	height:10rem;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

