body {
	font-family: 'Source Sans Pro', sans-serif;
}

.container {
	margin-top: 30px;
}

.darkmode {
	color: #fff;
	background-color: #212121;
}

.lightmode {
	background-color: #fff;
	color: #212121;
}


.dark-mode-toggle {
	width: 32px;
	height: 32px;
	border: none;
	background: transparent;
	border-radius: 10px;
	border: 1px solid white;
}

nav {
	background-color: #212121;
	box-shadow: 1px 1px 10px black;
	padding: 20px;
}

.landing {
	height: 100vh;
}

.landing-heading {
	text-align: center;
	font-weight: 700;
}

.bottom {
	text-align: center;
}

.heading {
	font-weight: 700;
}

.blogs {
	background-color: #212121;
	color: white;
	padding: 30px;
	width: 25rem;
	margin: 0px;
	box-shadow: 0px 1px 20px black;
	border-radius: 25px;
	margin-bottom: 30px;
	border: 1px solid white;
}

.blogs:hover {
	box-shadow: 0px 0px 50px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

.card-text{
	overflow: hidden;
	height:10rem;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.post {
	background-color: #212121;
	color: white;
	border-radius: 20px;
	padding: 60px;
	box-shadow: 1px 2px 25px black;
	border: 3px solid white;
}

@keyframes bounce{
    from { transform: translate3d(0, 0, 0);}
    to { transform: translate3d(0, 30px, 0);}
}

.arrow {
  position: absolute;
  bottom: 90px;
  left: 50%;
  width: 40px;
  height: 40px;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

textarea {
  width: 300px;
  height: 500px;
}

#title {
	font-weight: bolder;
	padding: 20px;
}

#content {
	padding: 30px;
}
