{% extends "base.html" %}
{% block title %}
Credits - DevExplorer
{% endblock title %}

{% block content %}
    <br><br>
    <div class="jumbotron container credits">
        <br><br>

        <h1 style="font-weight: 700; text-align: center;">Credits</h1>

        <br>

        <li style="text-align: center;">UI/UX/Frontend: Aryan Mishra</li>
        <li style="text-align: center;">Backend: Aryan Mishra</li>
        <li style="text-align: center;">Testing: Aditya Das</li>
        <hr class="container" style="width: 50%;">
        <li style="text-align: center;">Blog: Aryan Mishra</li>
        <li style="text-align: center;">DevNews: Aryan Mishra</li>
        <li style="text-align: center;">Map: Aryan Mishra</li>

        <br><br>
    </div>

{% endblock content %}
