{% extends "base.html" %}
{% block title %}
Credits - DevExplorer
{% endblock title %}

{% block content %}
    <br><br>
    <div class="jumbotron container credits">
        <br><br>

        <h1 style="font-weight: 700; text-align: center;">Credits</h1>

        <br>

        <li style="text-align: center;">UI/UX/Frontend: Aryan Mishra</li>
        <li style="text-align: center;">Backend: Aryan Mishra</li>
        <li style="text-align: center;">Testing: Aditya Das</li>
        <hr class="container" style="width: 50%;">
        <li style="text-align: center;">Blog: Aryan Mishra</li>
        <li style="text-align: center;">DevNews: Aryan Mishra</li>
        <li style="text-align: center;">Map: Aryan Mishra</li>

        <hr class="container" style="width: 50%;">
        <p style="text-align: center;">
            Github: 
            <a href="https://www.github.com/ahmishra" style="color: white;">Aryan Mishra</a>, 
            <a href="https://www.github.com/Nightmare40" style="color: white;">Aditya Das</a>
        </p>

        <p style="text-align: center;">
            Discord:
           <br>
           Aryan Mishra: ImCool#0631
           <br>
           Aditya Das: NightMare#4563
        </p>
        
    </div>

    <br><br>

{% endblock content %}
