{% extends "base.html" %}
{% block title %}
Credits - DevExplorer
{% endblock title %}

{% block content %}
    <br><br>
        <div class="jumbotron container credits">
            <br><br>

            <h1 style="font-weight: 700; text-align: center;">Credits</h1>

            <br>

            <!-- Actual Credits -->
            <li style="text-align: center;">UI/UX/Frontend: Aryan Mishra</li>
            <li style="text-align: center;">Backend: Aryan Mishra</li>
            <li style="text-align: center;">Testing: Aryan Mishra</li>
            <hr class="container" style="width: 50%;">
            <li style="text-align: center;">Blog: Aryan Mishra</li>
            <li style="text-align: center;">DevNews: Aryan Mishra</li>
            <li style="text-align: center;">Map: Aryan Mishra</li>

            <hr class="container" style="width: 50%;">

            <!-- Links for contact -->
            <p style="text-align: center;">
                Github: 
                <a href="https://www.github.com/ahmishra" style="color: white;">Aryan Mishra</a>
            </p>

            <p style="text-align: center;">
                Discord:
                <br>
                Aryan Mishra: ImCool#0631
            </p>
    </div>
    <br><br>

{% endblock content %}
