{% extends "base.html" %}
{% block title %} News - DevExplorer {% endblock title %}


{% block content %}

    <!-- Container(Bootstrap Class) for centering elements -->
    <div class="container">
        <!-- Making a Row(Bootstrap Class) -->
        <div class="row">
            <!-- News Content(with some Jinja2) -->
            {% for i in news %}
                <a href="{{ i[0] }}" target="_blank" class="col-4" style="text-decoration: none; color: white;">
                    <div class="col-4">
                        <div class="card cards">
                            <img src="{{ i[-1] }}" alt="Image Support" style="border-radius: 25px; height: 12rem;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ i[1] }}
                                </h5>
                                <p class="card-text">{{ i[2] }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
