{% extends "base.html" %}
{% block title %} News - DevExplorer {% endblock title %}


{% block content %}

    <div class="container">

        <!-- PAGINATION -->
        <div class="row">
            <div class="col-auto">
                <h2 class="heading">Total results: {{ news['totalResults'] }}</h2>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 pull-right" style="margin-bottom: 20px;">
                <a href="{{ url_for('devnews', cat='general') }}"><button class="btn btn-primary btn-sm">General</button></a>
                <a href="{{ url_for('devnews', cat='technology') }}"><button class="btn btn-primary btn-sm">Technology</button></a>
                <a href="{{ url_for('devnews', cat='science') }}"><button class="btn btn-primary btn-sm">Science</button></a>
                <a href="{{ url_for('devnews', cat='health') }}"><button class="btn btn-primary btn-sm">Health</button></a>
                <a href="{{ url_for('devnews', cat='business') }}"><button class="btn btn-primary btn-sm">Business</button></a>
                <a href="{{ url_for('devnews', cat='sports') }}"><button class="btn btn-primary btn-sm">Sports</button></a>
            </div>
           
            <div class="col-auto">
                <form method="POST">
                    <input type="text" id="query" name="query" class="form-control query" placeholder="Search News">
                    <button type="submit" class="btn btn-outline-primary query-btn">Search</button>
                </form>
            </div>
        </div>

        <br><br><br>


        <!-- NEWS -->
        <div class="row">
                {% for i in news['articles'] %}
                    <a href="{{ i['url'] }}" class="col-auto" style="text-decoration: none; color: white;" target="_blank">
                        <div class="col-auto">
                            <div class="card cards" style="width: 25rem;">
                                <img src="{{ i['urlToImage'] }}" class="card-img-top" alt="Image Support" style="border-radius: 25px; height: 12rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ i['title'] }}</h5>
                                    <p class="card-text">{{ i['description'] }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
        </div>

    </div>

{% endblock content %}
