{% extends "base.html" %}

{% block title %}
Login - DevExplorer
{% endblock title %}

{% block content %}
<div class="container">

    <!-- LOGIN FORM -->
    <form method="POST" action="">
        <!-- CSRF TOKEN -->
        {{ form.hidden_tag() }}

        <!-- FORM LAYOUT -->
        <fieldset class="form-group">

            <!-- USERNAME -->
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}

            </div>

            <br>

            <!-- PASSWORD -->
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <br>

            <!-- REMEMBER ME -->
            <div class="form-check">
                {{ form.remember_me(class="form-check-input") }}
                {{ form.remember_me.label(class="form-check-label") }}
            </div>
        </fieldset>

        <br>

        <!-- SUBMIT -->
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>

        <br><br>

        <!-- REGISTER REDIRECT -->
        <p style="text-align: left;"><small class="text-mute">Not registered yet? <a href="{{ url_for('register') }}">Register</a></small></p>

    </form>
</div>

{% endblock content %}
