{% extends "base.html" %}
{% block title %}
Blogs - DevExplorer
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        {% if posts != [] %}
            {% for i in posts %}
                <a href="{{ url_for('post', pk=i.id) }}" class="col-4" style="text-decoration: none; color: white;">
                    <div class="col-4">
                        <div class="card blogs">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ i.title }}
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ i.author.username }}</h6>
                                <p class="card-text">{{ i.content }}</p>
                                <h6 class="card-subtitle mb-2 text-muted">{{ i.date_posted.replace(microsecond = 0) }}</h6>
                    
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <h1 style="font-weight: bolder; text-align: center;">No Posts Yet! Be the first to post one!</h1>
        {% endif %}
    </div>
</div>

<br><br>

{% endblock content %}
