{% extends "base.html" %}
{% block title %}
Blogs - DevExplorer
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="text-center">
            <a href="{{ url_for('new_post') }}">
                <button class="btn btn-primary btn-primary btn-lg rainbow-button">Post A New Blog</button>
            </a>

            <br><br><br>
        </div>

        <!-- Displaying the posts, if the database if empty telling the user to post a post -->
        {% if posts.items != [] %}
            {% for i in posts.items %}
                <!-- Displaying the posts if exists -->
                <a href="{{ url_for('post_detail', primary_key=i.id) }}" class="col-4" style="text-decoration: none; color: white;">
                    <div class="col-4">
                        <div class="card cards" style="box-shadow: 1px 1px 30px black; border: none;">
                            <img src="{{ i.thumbnail }}" alt="Image Support" style="border-radius: 25px; height: 12rem;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ i.title }}
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">Author: {{ i.author.username }} &emsp; Posted On: {{ i.date_posted.date() }}</h6>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <!-- Messaging the user that no posts exists -->
            <h1 style="font-weight: bolder; text-align: center;">No Posts Yet! Be the first to post one!</h1>
        {% endif %}
    </div>

    <!-- Pagination -->
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info" style="margin: 5px;" href="{{ url_for('list_posts', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info" style="margin: 5px;" href="{{ url_for('list_posts', page=page_num) }}">{{ page_num }}</a>
            {% endif %}

        {% else %}
            ...
        {% endif %}
    {% endfor %}

</div>
<br><br>

{% endblock content %}
