{% extends "base.html" %}
{% block title %}
{{ post.title }} - Post - DevExplorer
{% endblock title %}

{%  block content %}
    <div class="container" style="width: 100%; margin-top: 30px; object-fit: cover;">

        <!-- Back button -->
        <a href="{{ url_for('list_posts') }}">
            <i class="fas fa-caret-left fa-1x btn btn-outline-info btn-lg"></i>
        </a>


        <!-- Displaying Edit and Delete buttons if the current user is the author of the post -->
        {% if post.author == current_user %}
            <a href="{{ url_for('post_update', primary_key=post.id) }}" style="float: right;">
                <i class="fas fa-pencil-alt fa-1x btn btn-outline-warning btn-lg"></i>
            </a>

            <a href="{{ url_for('post_delete', primary_key=post.id) }}" style="float: right; margin-right: 10px;">
                <i class="far fa-trash-alt fa-1x btn btn-outline-danger btn-lg"></i>
            </a>
        {% endif %}

        <br><br>

        <!-- Displaying the post's content -->
        <h2 style="font-weight: 700;">{{ post.title }}</h2>
        <b>Posted By- <a href="{{ url_for('user_info', username=post.author.username) }}">{{ post.author.username }}</a></b>

        <p>{{ post.content|markdown }}</p>
        <small class="text-muted">{{ post.date_posted.replace(microsecond = 0) }}</small>
        
    </div>

    <br><br>
{% endblock content %}
