{% extends "base.html" %}
{% block title %}
Blogs - DevExplorer
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        {% if posts.items != [] %}
            {% for i in posts.items %}
                <a href="{{ url_for('post_detail', pk=i.id) }}" class="col-4" style="text-decoration: none; color: white;">
                    <div class="col-4">
                        <div class="card cards">
                            <img src="{{ i.thumbnail }}" alt="Image Support" style="border-radius: 25px; height: 12rem;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ i.title }}
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ i.author.username }}</h6>
                                <p class="card-text">{{ i.content }}</p>
                                <h6 class="card-subtitle mb-2 text-muted">{{ i.date_posted.replace(microsecond = 0) }}</h6>
                    
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <h1 style="font-weight: bolder; text-align: center;">No Posts Yet! Be the first to post one!</h1>
        {% endif %}
    </div>

    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info" style="margin: 5px;" href="{{ url_for('list_posts', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info" style="margin: 5px;" href="{{ url_for('list_posts', page=page_num) }}">{{ page_num }}</a>
            {% endif %}

        {% else %}
            ...
        {% endif %}
    {% endfor %}

</div>

<br><br>

{% endblock content %}
