{% extends "base.html" %}

{% block title %}
Request Reset Password - DevExplorer
{% endblock title %}

{% block content %}
<div class="container">

    <!-- LOGIN FORM -->
    <form method="POST" action="">
        <!-- CSRF TOKEN -->
        {{ form.hidden_tag() }}

        <!-- FORM LAYOUT -->
        <fieldset class="form-group">

            <!-- EMAIL -->
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}

            </div>
        </fieldset>

        <br>

        <!-- SUBMIT -->
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock content %}
