{% extends "base.html" %}

{% block title %}
Request Reset Password - DevExplorer
{% endblock title %}

{% block content %}
<div class="container">

    <!-- LOGIN FORM -->
    <form method="POST" action="">
        <!-- CSRF TOKEN -->
        {{ form.hidden_tag() }}

        <!-- FORM LAYOUT -->
        <fieldset class="form-group">

            <!-- PASSWORD -->
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}

            </div>

            <br>

            <!-- CONFIRM PASSWORD -->
            <div class="form-group">
                {{ form.password_confirm.label(class="form-control-label") }}
                {% if form.password_confirm.errors %}
                {{ form.password_confirm(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password_confirm.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password_confirm(class="form-control form-control-lg") }}
                {% endif %}
            
            </div>

        </fieldset>

        <br>

        <!-- SUBMIT -->
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock content %}
